/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@ng-select/ng-select/themes/material.theme.css";

.container-fluid {
  padding: 0 20px;
}

.mat-card-header {
  position: relative;
}

.pt-2 {
  padding-top: 20px;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.mr-2 {
  margin-right: 20px;
}
